.dark-background {
    background-image: url('../assets/images/black-background.jpg');
    background-position: center; 
    background-size: cover;
}

.light-background {
    background-image: url('../assets/images/white-background.jpg');
    background-position: center; 
    background-size: cover;
}