<div class="tw-flex tw-flex-col lg:tw-flex-row tw-gap-6 tw-p-4">
    <div class="lg:tw-basis-1/4 tw-flex-auto">
      <button routerLink="/ahp" class="btn-card">
        <h5>AHP</h5>
      </button>
    </div>
  
    <div class="lg:tw-basis-1/4 tw-flex-auto">
      <button routerLink="/topsis" class="btn-card">
        <h5>Topsis</h5>
      </button>
    </div>
  
    <div class="lg:tw-basis-1/4 tw-flex-auto">
      <button routerLink="/promethee" class="btn-card">
        <h5>Promethee</h5>
      </button>
    </div>
  
    <div class="lg:tw-basis-1/4 tw-flex-auto">
      <button routerLink="/wsm" class="btn-card">
        <h5>WSM</h5>
      </button>
    </div>
</div>

<div class="tw-flex tw-flex-col lg:tw-flex-row tw-gap-6 tw-p-4">
    <div class="lg:tw-basis-full tw-flex-auto ">
        <div class="tw-bg-white/20 tw-backdrop-blur-md tw-shadow-lg tw-shadow-md tw-rounded-lg tw-p-2 tw-border tw-border-white/10  tw-h-full">
            <h5 class="tw-text-lg tw-border-b tw-pb-2">Scraped data</h5>
            <div class="tw-overflow-y-scroll tw-scrollbar-custom tw-mt-2">
                <app-scraping-data></app-scraping-data>
                <!-- <app-line-chart [chartData]="chartData"></app-line-chart> -->
            </div>
        </div>
    </div>
</div>
