/* .flex {
    display: flex;
  }
  .flex-col {
    flex-direction: column;
  }
  .flex-row {
    flex-direction: row;
  }
  .gap-6 {
    gap: 1.5rem;
  }
  .flex-auto {
    flex: 1 1 auto;
  }
  .basis-2-6 {
    flex-basis: 33.33%;
  }
  .basis-3-6 {
    flex-basis: 50%;
  }
  .basis-6-6 {
    flex-basis: 100%;
  }
  .box {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border: 1px solid #e2e8f0;
  }
  .box-header {
    font-size: 1.125rem;
    border-bottom: 1px solid #e2e8f0;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  } */
   