<div class="tw-flex tw-flex-col lg:tw-flex-row tw-gap-6 tw-p-4">
    <div class="lg:tw-basis-1/4 tw-flex-auto">
      <button routerLink="/ahp" class="btn-card">
        <h5>AHP</h5>
      </button>
    </div>
  
    <div class="lg:tw-basis-1/4 tw-flex-auto">
      <button routerLink="/topsis" class="btn-card">
        <h5>Topsis</h5>
      </button>
    </div>
  
    <div class="lg:tw-basis-1/4 tw-flex-auto">
      <button routerLink="/promethee" class="btn-card">
        <h5>Promethee</h5>
      </button>
    </div>
  
    <div class="lg:tw-basis-1/4 tw-flex-auto">
      <button routerLink="/wsm" class="btn-card">
        <h5>WSM</h5>
      </button>
    </div>
</div>

<div class="tw-flex tw-flex-col lg:tw-flex-row tw-gap-6 tw-p-4">
    <div class="lg:tw-basis-full tw-flex-auto ">
        <div class="tw-bg-white/20 tw-backdrop-blur-md tw-shadow-lg tw-shadow-md tw-rounded-lg tw-p-2 tw-border tw-border-white/10  tw-h-full">
            <h5 class="tw-text-lg tw-border-b tw-pb-2">Scraped data</h5>
            <div class="tw-overflow-y-scroll tw-scrollbar-custom tw-mt-2">
                <app-scraping-data></app-scraping-data>
            </div>
        </div>
    </div>
</div>

<!-- <div class="tw-flex tw-flex-col lg:tw-flex-row tw-gap-6 tw-p-4">

    <div class="lg:tw-basis-1/4 tw-flex-auto">
      <button
        routerLink="/ahp"
        class="tw-bg-white/20 tw-backdrop-blur-md tw-shadow-lg tw-rounded-lg tw-border tw-border-white/10 tw-p-4 tw-w-full tw-h-full tw-flex tw-flex-col tw-items-center tw-justify-center tw-transition-all hover:tw-bg-purple-300/20 hover:tw-border-purple-300/10 focus:tw-outline-none">
        <h5 class="tw-text-lg tw-font-semibold tw-text-gray-800">AHP</h5>
      </button>
    </div>
  
    <div class="lg:tw-basis-1/4 tw-flex-auto">
      <button
        routerLink="/topsis"
        class="tw-bg-white/20 tw-backdrop-blur-md tw-shadow-lg tw-rounded-lg tw-border tw-border-white/10 tw-p-4 tw-w-full tw-h-full tw-flex tw-flex-col tw-items-center tw-justify-center tw-transition-all hover:tw-bg-purple-300/20 hover:tw-border-purple-300/10 focus:tw-outline-none">
        <h5 class="tw-text-lg tw-font-semibold tw-text-gray-800">Topsis</h5>
      </button>
    </div>
  
    <div class="lg:tw-basis-1/4 tw-flex-auto">
      <button
        routerLink="/promethee"
        class="tw-bg-white/20 tw-backdrop-blur-md tw-shadow-lg tw-rounded-lg tw-border tw-border-white/10 tw-p-4 tw-w-full tw-h-full tw-flex tw-flex-col tw-items-center tw-justify-center tw-transition-all hover:tw-bg-purple-300/20 hover:tw-border-purple-300/10 focus:tw-outline-none">
        <h5 class="tw-text-lg tw-font-semibold tw-text-gray-800">Promethee</h5>
      </button>
    </div>
  
    <div class="lg:tw-basis-1/4 tw-flex-auto">
      <button
        routerLink="/wsm"
        class="tw-bg-white/20 tw-backdrop-blur-md tw-shadow-lg tw-rounded-lg tw-border tw-border-white/10 tw-p-4 tw-w-full tw-h-full tw-flex tw-flex-col tw-items-center tw-justify-center tw-transition-all hover:tw-bg-purple-300/20 hover:tw-border-purple-300/10 focus:tw-outline-none">
        <h5 class="tw-text-lg tw-font-semibold tw-text-gray-800">WSM</h5>        
      </button>
    </div>
</div> -->