@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "~ag-grid-community/styles/ag-theme-alpine-dark.css"; */
/* @import "tailwindcss/tailwind.css";
@import "~bootstrap/dist/css/bootstrap.min.css"; */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Hide scrollbar */
body::-webkit-scrollbar {
    display: none;
}

/* Change the border color */
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: rebeccapurple !important;
}

/* Change the border width */
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-width: 2px !important;
}

html {
  --mdc-checkbox-selected-checkmark-color: rgb(255, 255, 255); 
  --mdc-checkbox-selected-icon-color: #663399; 
  --mdc-checkbox-selected-focus-icon-color: #663399; 
  --mdc-checkbox-selected-hover-icon-color: #663399; 
  --mdc-checkbox-selected-pressed-icon-color: #663399; 
  --mdc-checkbox-selected-focus-state-layer-color: #663399; 
  --mdc-checkbox-selected-hover-state-layer-color: #663399; 
  --mdc-checkbox-selected-pressed-state-layer-color: #663399; 
}
